.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
header {
    background-color: #1f65f2;
    color: white;
}

img {
    height: 90px;
}

#logo_easy {
    margin: 0;
    margin-right: auto;
    padding: 0;
}
  
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav > div:not(#logo_easy) {
    margin-left: auto;
    
}

a {
    color: white;
}

nav > div:not(#logo_easy, .navDiv) {
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    
}

nav > div:not(#logo_easy, .navDiv):hover {
    opacity: 0.8;
}
  
main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
}


form > div {
    margin: 10px;
    padding: 30px;
    font-weight: bold;
    font-size: large;
}
input[type=radio] {
    transform: scale(1.2);
}
h1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    font-weight: normal;

}

h2 {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: normal;
}


#choix1 {
    grid-area: 3 / 1 / 4 / 2;
}
  
#choix2 {
    grid-area: 4 / 1 / 5 / 2;
}

#choix3 {
    grid-area: 5 / 1 / 6 / 2;
}

#choix4 {
    grid-area: 6 / 1 / 7 / 2;
}



#valider_reponse {
    background-color: #1f65f2;
    border: none;
    color: white;
    padding: 15px 40px;
    font-size: 17px;
    border-radius: 100px;
    cursor: pointer;
}