.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header {
    background-color: #1f65f2;
    color: white;

}

body {
    background-image: url("https://img.freepik.com/vecteurs-premium/motif-marbre-couleur-fond-complet_67383-13.jpg?w=996");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 67, 82, 0.371);
    z-index: -1;
}


img {
    height: 90px;
}

#logo_easy {
    margin: 0;
    margin-right: auto;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}


a {
    color: white;
}

nav>div:not(#logo_easy) {
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px 45px;
    font-weight: bold;
    font-size: x-large;

}

nav>div:not(#logo_easy):hover {
    opacity: 0.8;
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
}


form>div {
    margin: 10px;
    padding: 30px;
    font-weight: bold;
    font-size: large;
}

input[type=radio] {
    transform: scale(1.2);
}

h1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    font-weight: normal;

}

h2 {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: normal;
}


#choix1 {
    grid-area: 3 / 1 / 4 / 2;
}

#choix2 {
    grid-area: 4 / 1 / 5 / 2;
}

#choix3 {
    grid-area: 5 / 1 / 6 / 2;
}

#choix4 {
    grid-area: 6 / 1 / 7 / 2;
}



#valider_reponse {
    background-color: #1f65f2;
    border: none;
    color: white;
    padding: 15px 40px;
    font-size: 17px;
    border-radius: 100px;
    cursor: pointer;
}