@media screen and (max-width: 768px) and (orientation: portrait) {

    .bande {
        background-color: #2855b1;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 20px;
        z-index: 1000;
    }
    .titre {
        font-size: 16px;
    }
    .logo {
        width: 70px;
        height: 70px;
      }
  }
  
  h1 {
        color: #FFFFFF;
 }
 
 
 
 h2 {
    padding: 10px 5px; 
    border-radius: 20px;
    background-color: #1f65f2;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #FFFFFF;
    max-width: 600px;
    margin-left: auto; 
    margin-right: auto;
}



  @media screen and (min-width: 1024px) and (orientation: landscape) {
    .bande {
        background-color: #2855b1;
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 20px;
        z-index: 1000;
    }
    .logo {

        transition: transform .2s; /* Animation */
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }
    
  }

body {
    background-image: url("https://img.freepik.com/vecteurs-premium/motif-marbre-couleur-fond-complet_67383-13.jpg?w=996");
    background-size: cover;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    }
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 46, 56, 0.371);
    z-index: -1;
}

div.clickEffect{
    position:fixed;
    box-sizing:border-box;
    border-style:solid;
    border-color:#FFFFFF;
    border-radius:50%;
    animation:clickEffect 0.4s ease-out;
    z-index:99999;
}

.instructions {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #79401a6e;
   
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto; 
    margin-right: auto;
}

.instructions div {
    margin-bottom: 10px;
}


@keyframes clickEffect{
    0%{
        opacity:1;
        width:0.5em; height:0.5em;
        margin:-0.25em;
        border-width:0.5em;
    }
    100%{
        opacity:0.2;
        width:15em; height:15em;
        margin:-7.5em;
        border-width:0.03em;
        }
}


  
  .logo:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }



